/* Student Marksheet App. */

/* INITIAL CONTAINER */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: wheat;
}

#container-box {
    border: 1px solid black;
    height: 550px;
    width: 650px;
    text-align: center;
    border: 5px double darkblue;
    margin-top: 20px;
}

#heading {
    text-decoration: underline;
    color: darkblue;
    font-weight: bolder;
    margin-bottom: 50px;
}

label {
    color: darkblue;
    font-size: 18px;
    font-family: serif;
    font-weight: bold;
}

input {
    color: darkblue;
    width: 250px;
    border: 2px solid darkblue;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 0px 0px 0px 5px;
    margin-left: 20px;
}

#sub-one , #sub-two , #sub-three , #sub-four , #sub-five {
    margin-left: 95px;
}

button {
    height: 35px;
    width: 100px;
    font-family: serif;
    font-weight: bold;
    color: darkblue;
    border: 2px solid darkblue;
    border-radius: 5px;
}

button:active {
    color: wheat;
    background-color: darkblue;
    border: 2px solid white;
}

/* Initial User-Interface Completed */

/* SECOND CONTAINER */

#second-container {
    display: none;
    width: 100%;
    height: 100vh;
    background-color: white;
    color: darkblue;
    border: 5px double darkblue;
}

#header-one {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 2px solid darkblue;
    text-align: center;
    font-weight: bolder;
    padding-top: 10px;
}

#header-two , #header-three {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

table {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 225px;
    width: 1300px;
    margin: 0 auto;
    border: 5px double darkblue;
}

th {
    width: 433px;
}

tr {
    border: 3px double darkblue;
}

#FooterOne , #FooterTwo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin: 20px;
    font-size: 20px;
    margin-top: 0px;
}

#FooterOne #FooterSpan , #FooterTwo #FooterSpan {
    display: block;
}

/* Second container completed */

/* App completed successfully */